{% extends 'quickbooks/base.html' %} 
{% block body %}
<form action="{{ url_for('quickbooks.save_position' )}}" method="POST">
    <br>
        <label for="filter">Enter position</label>
    <br>
    <br>
        Period: <input id="period" name="period" type="date"  required/> 
    <br>
    <br>
        Wisetack Member Junior Position: <input id="wisetack_junior_position" name="wisetack_junior_position" type="number" placeholder="0.00" step="0.01" width="150" max="999999999999.99" required/>
    <br>
    <br>
        Lighter Member Junior Position: <input id="lighter_junior_position" name="lighter_junior_position" type="number" placeholder="0.00" step="0.01" width="150" max="999999999999.99" required/>
    <br>
    <br>
    <input type="submit" value="save" />
</form>
{% endblock %}
